In [1]:
import pandas as pd

pd.set_option('display.max_columns', 30)

# Invoice Generation from CUR

In [2]:
catalog.list()

['s3_pocs_cur_dataset',
 's3_intelbras_cur_dataset',
 's3_infra2_cur_dataset',
 'accounts_per_organization',
 'pocs_cur_dataset',
 'intelbras_cur_dataset',
 'infra2_cur_dataset',
 'processed_accounts_per_organization',
 'pocs_cur_dataset_merged',
 'intelbras_cur_dataset_merged',
 'infra2_cur_dataset_merged',
 'infra2_cur_dataset_agg',
 'parameters',
 'params:data_prep_raw_params',
 'params:data_prep_raw_params.kept_columns']

## Analyzing Infra 2 CUR of 2023-05

## Loading from S3

In [1]:
s3_infra2_cur = list(catalog.load('s3_infra2_cur_dataset').items())
s3_infra2_cur202305 = [t for t in s3_infra2_cur if t[0] == 'year=2023/month=5/CUR-00001.snappy.parquet'][0]
infra2_cur202305 = s3_infra2_cur202305[1]()
infra2_cur202305

[07/07/23 19:11:04] INFO     Loading data from 's3_infra2_cur_dataset' (PartitionedDataSet)...  ]8;id=246037;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=124185;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py#345\345]8;;\

,identity_line_item_id,identity_time_interval,bill_invoice_id,bill_invoicing_entity,bill_billing_entity,bill_bill_type,bill_payer_account_id,bill_billing_period_start_date,bill_billing_period_end_date,line_item_usage_account_id,...,resource_tags_aws_created_by,resource_tags_aws_dlm_lifecycle_policy_id,resource_tags_aws_dlm_lifecycle_schedule_name,resource_tags_user_environment,resource_tags_user_name,resource_tags_user_project,resource_tags_user_s_t_a_g_e,resource_tags_user_instance_id,resource_tags_user_stage,resource_tags_user_timestamp
0,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,2023-05-01T00:00:00Z/2023-05-01T01:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,273762107511,...,Root:273762107511,,,PRD,Site CordCell,Ambiente-Web,,,,
1,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,2023-05-01T01:00:00Z/2023-05-01T02:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,273762107511,...,Root:273762107511,,,PRD,Site CordCell,Ambiente-Web,,,,
2,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,2023-05-01T02:00:00Z/2023-05-01T03:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,273762107511,...,Root:273762107511,,,PRD,Site CordCell,Ambiente-Web,,,,
3,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,2023-05-01T03:00:00Z/2023-05-01T04:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,273762107511,...,Root:273762107511,,,PRD,Site CordCell,Ambiente-Web,,,,
4,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,2023-05-01T04:00:00Z/2023-05-01T05:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,273762107511,...,Root:273762107511,,,PRD,Site CordCell,Ambiente-Web,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5509,leyy3urvpooyfs3iai36yaekmq4vxyvzlqzyyk47um2mbo...,2023-05-31T14:00:00Z/2023-05-31T15:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,167002523613,...,AssumedRole:AROASNYRAI7O7ZSL26LVY:lucas.cruz,,,,AWS-ADM-DBO-01-DEL,,,,,
5510,ulwrbyeylpqfhj4zzwesf6z7ypcbcjenrqga4kidny3363...,2023-05-31T15:00:00Z/2023-05-31T16:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,167002523613,...,AssumedRole:AROASNYRAI7O7ZSL26LVY:lucas.cruz,,,,AWD-ADM-DBO-02,,,,,
5511,ulwrbyeylpqfhj4zzwesf6z7ypcbcjenrqga4kidny3363...,2023-05-31T16:00:00Z/2023-05-31T17:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,167002523613,...,AssumedRole:AROASNYRAI7O7ZSL26LVY:lucas.cruz,,,,AWD-ADM-DBO-02,,,,,
5512,ulwrbyeylpqfhj4zzwesf6z7ypcbcjenrqga4kidny3363...,2023-05-31T17:00:00Z/2023-05-31T18:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,167002523613,...,AssumedRole:AROASNYRAI7O7ZSL26LVY:lucas.cruz,,,,AWD-ADM-DBO-02,,,,,
5513,ulwrbyeylpqfhj4zzwesf6z7ypcbcjenrqga4kidny3363...,2023-05-31T18:00:00Z/2023-05-31T19:00:00Z,1349042489,"Amazon Web Services, Inc.",AWS Marketplace,Anniversary,981064078967,2023-05-01,2023-06-01,167002523613,...,AssumedRole:AROASNYRAI7O7ZSL26LVY:lucas.cruz,,,,AWD-ADM-DBO-02,,,,,

In [2]:
[col for col in infra2_cur202305.columns if 'discount' in col]

['discount_spp_discount', 'discount_total_discount']

## Loading CUR1 from 01_raw

In [15]:
infra2_cur = list(catalog.load('infra2_cur_dataset').items())
infra2_cur

[07/06/23 18:49:34] INFO     Loading data from 'infra2_cur_dataset' (PartitionedDataSet)...     ]8;id=246454;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=639530;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py#345\345]8;;\

[('2023_05_CUR-00001.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bd6206ad0>>),
 ('2023_05_CUR-00002.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bdc03fe80>>),
 ('2023_05_CUR-00003.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bdc03f460>>),
 ('2023_05_CUR-00004.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bd598d7b0>>),
 ('2023_05_CUR-00005.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bd59a60b0>>),
 ('2023_05_CUR-00006.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bd59a5de0>>),
 ('2023_05_CUR-00007.csv',
  <bound method AbstractVersionedDataSet.load of <kedro_datasets.pandas.csv_dataset.CSVDataSet object at 0x7f5bd59a42b0>>)]

In [16]:
infra2_cur1 = infra2_cur[0][1]()
infra2_cur1.head(100)

,identity_line_item_id,bill_invoice_id,bill_billing_entity,bill_invoicing_entity,line_item_legal_entity,bill_payer_account_id,line_item_usage_account_id,line_item_line_item_type,bill_billing_period_start_date,bill_billing_period_end_date,line_item_usage_start_date,line_item_usage_end_date,line_item_usage_amount,line_item_product_code,product_product_name,line_item_usage_type,line_item_operation,product_from_location_type,product_from_region_code,line_item_tax_type,line_item_currency_code,line_item_unblended_cost
0,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 00:00:00,2023-05-01 01:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
1,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 01:00:00,2023-05-01 02:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
2,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 02:00:00,2023-05-01 03:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
3,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 03:00:00,2023-05-01 04:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
4,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 04:00:00,2023-05-01 05:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-04 23:00:00,2023-05-05 00:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
96,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-05 00:00:00,2023-05-05 01:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
97,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-05 01:00:00,2023-05-05 02:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
98,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-05 02:00:00,2023-05-05 03:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03
99,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-05 03:00:00,2023-05-05 04:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,0.03

In [6]:
infra2_cur1['line_item_usage_account_id'].dtype

dtype('O')

In [7]:
infra2_cur1['product_product_name'].unique()

array(['WordPress on Server 2019 + PhpMyAdmin + MySQL',
       'OpenVPN Access Server (5 Connected Devices)',
       'Oracle Linux 8 with Support by Supported Images',
       'ZoneMinder:  Build Your Own Security Camera Solution',
       'Oracle Linux 7 with Support by Supported Images',
       'Reverse Proxy Server using NGINX on Ubuntu',
       'Veeam Backup for AWS Paid Edition'], dtype=object)

## Replicating Infra 2 - Marketplace - Invoice ID 1349042489

### Detail for Consolidated Bill

In [18]:
infra2_cur1.groupby(by='product_product_name')['line_item_unblended_cost'].sum().reset_index()

                                product_product_name  line_item_unblended_cost
0        OpenVPN Access Server (5 Connected Devices)                   142.848
1    Oracle Linux 7 with Support by Supported Images                   147.100
2    Oracle Linux 8 with Support by Supported Images                   260.900
3         Reverse Proxy Server using NGINX on Ubuntu                     0.144
4                  Veeam Backup for AWS Paid Edition                    24.310
5      WordPress on Server 2019 + PhpMyAdmin + MySQL                    22.260
6  ZoneMinder:  Build Your Own Security Camera So...                     4.470

In [19]:
infra2_cur1['line_item_unblended_cost'].sum()

602.0319999999999

#### <font color='green'>Matches the PDF invoice</font>

### Linked Account Allocation
#### Activity By Account

In [20]:
infra2_cur1.groupby(by='line_item_usage_account_id')['line_item_unblended_cost'].sum()

line_item_usage_account_id
065716851408     73.900
167002523613    358.410
273762107511     22.260
465517541486     71.424
563324065975     71.424
901519325564      4.614
Name: line_item_unblended_cost, dtype: float64

In [21]:
len('065716851408'), len('167002523613'), len('273762107511'), len('465517541486'), len('563324065975'), len('901519325564')

(12, 12, 12, 12, 12, 12)

#### <font color='green'>Matches the PDF invoice</font>

In [22]:
infra2_cur1.groupby(by=['line_item_usage_account_id', 'product_product_name'])['line_item_unblended_cost'].sum()

line_item_usage_account_id  product_product_name
065716851408                Oracle Linux 8 with Support by Supported Images          73.900
167002523613                Oracle Linux 7 with Support by Supported Images         147.100
                            Oracle Linux 8 with Support by Supported Images         187.000
                            Veeam Backup for AWS Paid Edition                        24.310
273762107511                WordPress on Server 2019 + PhpMyAdmin + MySQL            22.260
465517541486                OpenVPN Access Server (5 Connected Devices)              71.424
563324065975                OpenVPN Access Server (5 Connected Devices)              71.424
901519325564                Reverse Proxy Server using NGINX on Ubuntu                0.144
                            ZoneMinder:  Build Your Own Security Camera Solution      4.470
Name: line_item_unblended_cost, dtype: float64

## Loading CUR2 from 01_raw

In [23]:
infra2_cur2 = infra2_cur[1][1]()
infra2_cur2.head(100)

,identity_line_item_id,bill_invoice_id,bill_billing_entity,bill_invoicing_entity,line_item_legal_entity,bill_payer_account_id,line_item_usage_account_id,line_item_line_item_type,bill_billing_period_start_date,bill_billing_period_end_date,line_item_usage_start_date,line_item_usage_end_date,line_item_usage_amount,line_item_product_code,product_product_name,line_item_usage_type,line_item_operation,product_from_location_type,product_from_region_code,line_item_tax_type,line_item_currency_code,line_item_unblended_cost
0,t5fvp5rwqyrvscf3kc2ylwmobdyaazby3yjrbuz4gslxvl...,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,072038246234,Refund,2023-05-01,2023-06-01,2023-05-01,2023-06-01,0.0,AWSSupportBusiness,AWS Support (Business),Dollar,NaN,NaN,NaN,NaN,USD,-57.61
1,nmuam35xnovmsc7ybj44am7r575ul3obphzy6xln66jykt...,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,072038246234,Tax,2023-05-01,2023-06-01,2023-05-01,2023-06-01,1.0,AWSSupportBusiness,AWS Support (Business),Dollar,NaN,NaN,NaN,Tax,USD,-7.97
2,kieg2eczb3cyj665s4hklsiw64xx6ldkzl34jgamkyuodv...,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,562293755332,Refund,2023-05-01,2023-06-01,2023-05-01,2023-06-01,0.0,AWSSupportBusiness,AWS Support (Business),NaN,NaN,NaN,NaN,NaN,USD,-7.00
3,ikif2qfz7mzuwkwgilejfosjahuhoh5tjhpnrg2uecgan5...,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,562293755332,Tax,2023-05-01,2023-06-01,2023-05-01,2023-06-01,1.0,AWSSupportBusiness,AWS Support (Business),NaN,NaN,NaN,NaN,Tax,USD,-0.96

In [24]:
infra2_cur2['line_item_unblended_cost'].sum()

-73.53999999999999

## Loading CUR3 from 01_raw

In [27]:
infra2_cur3 = infra2_cur[2][1]()
print(infra2_cur3.shape)
infra2_cur3.head(100)

[07/06/23 19:13:12] WARNING  /home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-pa ]8;id=1108;file:///usr/lib/python3.10/warnings.py\warnings.py]8;;\:]8;id=942890;file:///usr/lib/python3.10/warnings.py#109\109]8;;\
                             ckages/kedro_datasets/pandas/csv_dataset.py:162: DtypeWarning: Columns
                             (19) have mixed types. Specify dtype option on import or set
                             low_memory=False.
                               return pd.read_csv(load_path, **self._load_args)

(764846, 22)

,identity_line_item_id,bill_invoice_id,bill_billing_entity,bill_invoicing_entity,line_item_legal_entity,bill_payer_account_id,line_item_usage_account_id,line_item_line_item_type,bill_billing_period_start_date,bill_billing_period_end_date,line_item_usage_start_date,line_item_usage_end_date,line_item_usage_amount,line_item_product_code,product_product_name,line_item_usage_type,line_item_operation,product_from_location_type,product_from_region_code,line_item_tax_type,line_item_currency_code,line_item_unblended_cost
0,qmgjvd6gxycmgwrk62rqqkjr63ex5ghqoafbqzurlrpc24...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,072038246234,Usage,2023-05-01,2023-06-01,2023-05-15 16:00:00,2023-05-15 17:00:00,1.000000,AmazonEC2,Amazon Elastic Compute Cloud,SAE1-EBSOptimized:t3a.medium,Hourly,NaN,NaN,NaN,USD,0.000000e+00
1,tkd3ppomattn3wyjiak4bp6zlmlo3uaffrnklmk4b3fwdi...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,368505959464,Usage,2023-05-01,2023-06-01,2023-05-25 20:00:00,2023-05-25 21:00:00,0.000042,AmazonRDS,Amazon Relational Database Service,Aurora:BackupUsage,CreateDBInstance:0016,NaN,NaN,NaN,USD,8.743000e-07
2,fd6dcj5scxyopuenl3n2ighvic2nhuaz3i4fhpanbr3bqf...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,543280990914,Usage,2023-05-01,2023-06-01,2023-05-10 04:00:00,2023-05-10 05:00:00,0.000047,AmazonRDS,Amazon Relational Database Service,Aurora:BackupUsage,CreateDBInstance:0016,NaN,NaN,NaN,USD,9.850000e-07
3,xldj5f3wd2b4hzzok7zujmonpgcra6uumx4vlvdr6oig7a...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,368505959464,Usage,2023-05-01,2023-06-01,2023-05-10 02:00:00,2023-05-10 03:00:00,24.000000,AWSQueueService,Amazon Simple Queue Service,SAE1-Requests-Tier1,GetQueueAttributes,NaN,NaN,NaN,USD,9.600000e-06
4,t3msytn2lq6tilz4y3pxmqqqqyjhhifkk6qcpkinq2ludy...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,420065387364,Usage,2023-05-01,2023-06-01,2023-05-19 22:00:00,2023-05-19 23:00:00,1.000000,AmazonRoute53,Amazon Route 53,DNS-Queries,A,NaN,NaN,NaN,USD,4.000000e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,haixin2uwlwnlm5v4ucldjjqrrspevkdnshn4gwewfdffc...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,901519325564,Usage,2023-05-01,2023-06-01,2023-05-10 03:00:00,2023-05-10 04:00:00,0.000000,AmazonEC2,Amazon Elastic Compute Cloud,EBS:VolumeP-Throughput.gp3,CreateVolume-Gp3,NaN,NaN,NaN,USD,0.000000e+00
96,pe5a67pil3j22kxjfmztbknf6yquq2kijhvg5bmsrxplba...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,684481376085,Usage,2023-05-01,2023-06-01,2023-05-13 19:00:00,2023-05-13 20:00:00,1.000000,AWSELB,Elastic Load Balancing,LoadBalancerUsage,LoadBalancing:Application,NaN,NaN,NaN,USD,2.250000e-02
97,yg3gumehs3htpiu33fzt5es2wvin2hxjoz2u35kps2tduh...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,901519325564,Usage,2023-05-01,2023-06-01,2023-05-09 00:00:00,2023-05-09 01:00:00,0.032258,AmazonSES,Amazon Simple Email Service,USE1-DIP-Hours,Lease,NaN,NaN,NaN,USD,8.048387e-01
98,kc2tfbtef7gwxc6sf4f3vl2xq3sdu7gvhzenapvs5edadq...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,494939165758,Usage,2023-05-01,2023-06-01,2023-05-03 10:00:00,2023-05-03 11:00:00,320.500000,AmazonDynamoDB,Amazon DynamoDB,SAE1-ReadRequestUnits,PayPerRequestThroughput,NaN,NaN,NaN,USD,1.201875e-04
99,hfyntlujo4vaxvmdnph45dmrxecbpopmkt4ysjqipyh6it...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,Amazon AWS Serviços Brasil Ltda.,981064078967,072038246234,Usage,2023-05-01,2023-06-01,2023-05-29 11:00:00,2023-05-29 12:00:00,0.067204,AmazonEC2,Amazon Elastic Compute Cloud,SAE1-EBS:VolumeUsage.gp3,CreateVolume-Gp3,NaN,NaN,NaN,USD,1.021505e-02

In [28]:
infra2_cur3.groupby(by=['line_item_usage_account_id', 'product_product_name', 'line_item_currency_code'])['line_item_unblended_cost'].sum()

line_item_usage_account_id  product_product_name                line_item_currency_code
065716851408                AWS Config                          USD                          0.282000
                            AWS Key Management Service          USD                          0.000150
                            Amazon Elastic Compute Cloud        USD                        197.672197
                            Amazon Simple Notification Service  USD                          0.000001
                            Amazon Simple Queue Service         USD                          0.000004
                                                                                              ...
988350742118                Amazon Elastic Compute Cloud        USD                         11.680824
                            Amazon Relational Database Service  USD                         18.545119
                            Amazon Simple Storage Service       USD                          7.294511
                            AmazonCloudWatch                    USD                          0.092365
                            Elastic Load Balancing              USD                          3.916695
Name: line_item_unblended_cost, Length: 350, dtype: float64

In [29]:
a = pd.DataFrame({'a': [1, 2, 3], 'b': [1, 2, 3]})
b = pd.DataFrame({'a': [4, 5, 6], 'b': [4, 5, 6]})

pd.concat([a,b])

   a  b
0  1  1
1  2  2
2  3  3
0  4  4
1  5  5
2  6  6

# Aggregating costs by invoice, account and product

In [1]:
catalog.list()

['s3_pocs_cur_dataset',
 's3_intelbras_cur_dataset',
 's3_infra2_cur_dataset',
 'accounts_per_organization',
 'pocs_cur_dataset',
 'intelbras_cur_dataset',
 'infra2_cur_dataset',
 'processed_accounts_per_organization',
 'pocs_cur_dataset_merged',
 'intelbras_cur_dataset_merged',
 'infra2_cur_dataset_merged',
 'infra2_cur_dataset_agg',
 'parameters',
 'params:data_prep_raw_params',
 'params:data_prep_raw_params.kept_columns']

In [3]:
df_cur = catalog.load('infra2_cur_dataset_merged')
df_cur

[07/12/23 14:34:25] INFO     Loading data from 'infra2_cur_dataset_merged' (CSVDataSet)...      ]8;id=586379;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=907059;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py#345\345]8;;\

[07/12/23 14:34:55] WARNING  /home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-pa ]8;id=90265;file:///usr/lib/python3.10/warnings.py\warnings.py]8;;\:]8;id=429936;file:///usr/lib/python3.10/warnings.py#109\109]8;;\
                             ckages/kedro_datasets/pandas/csv_dataset.py:162: DtypeWarning: Columns
                             (4,14,17,18,19) have mixed types. Specify dtype option on import or
                             set low_memory=False.
                               return pd.read_csv(load_path, **self._load_args)

,identity_line_item_id,bill_invoice_id,bill_billing_entity,bill_invoicing_entity,line_item_legal_entity,bill_payer_account_id,line_item_usage_account_id,line_item_line_item_type,bill_billing_period_start_date,bill_billing_period_end_date,line_item_usage_start_date,line_item_usage_end_date,line_item_usage_amount,line_item_product_code,product_product_name,line_item_usage_type,line_item_operation,product_from_location_type,product_from_region_code,line_item_tax_type,line_item_currency_code,line_item_unblended_cost,discount_spp_discount,discount_total_discount
0,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 00:00:00,2023-05-01 01:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,3.000000e-02,0.0,0.0
1,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 01:00:00,2023-05-01 02:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,3.000000e-02,0.0,0.0
2,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 02:00:00,2023-05-01 03:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,3.000000e-02,0.0,0.0
3,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 03:00:00,2023-05-01 04:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,3.000000e-02,0.0,0.0
4,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,2023-05-01 04:00:00,2023-05-01 05:00:00,1.0,a4i314bjv65v96tp3n9ct5l2q,WordPress on Server 2019 + PhpMyAdmin + MySQL,SAE1-SoftwareUsage:t2.medium,Hourly,NaN,NaN,NaN,USD,3.000000e-02,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3835113,gbp2uwf4otex4r3i6x2xaqmecr4zo73kcdsjvjaci3cdew...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,543280990914,SppDiscount,2023-05-01,2023-06-01,2023-05-03 22:00:00,2023-05-03 23:00:00,0.0,AWSLambda,NaN,Lambda-Provisioned-GB-Second,Init,NaN,NaN,NaN,USD,-1.354400e-06,0.0,0.0
3835114,7lfdzbjdj5foh27w3ht5rgu32dkugujmsx6krg22hqyn5c...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,637926748998,SppDiscount,2023-05-01,2023-06-01,2023-05-09 15:00:00,2023-05-09 16:00:00,0.0,AWSLambda,NaN,Lambda-Provisioned-GB-Second,Init,NaN,NaN,NaN,USD,-1.354900e-06,0.0,0.0
3835115,gbp2uwf4otex4r3i6x2xaqmecr4zo73kcdsjvjaci3cdew...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,543280990914,SppDiscount,2023-05-01,2023-06-01,2023-05-10 22:00:00,2023-05-10 23:00:00,0.0,AWSLambda,NaN,Lambda-Provisioned-GB-Second,Init,NaN,NaN,NaN,USD,-2.609900e-06,0.0,0.0
3835116,7lfdzbjdj5foh27w3ht5rgu32dkugujmsx6krg22hqyn5c...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,637926748998,SppDiscount,2023-05-01,2023-06-01,2023-05-11 10:00:00,2023-05-11 11:00:00,0.0,AWSLambda,NaN,Lambda-Provisioned-GB-Second,Init,NaN,NaN,NaN,USD,-6.487000e-07,0.0,0.0
3835117,gbp2uwf4otex4r3i6x2xaqmecr4zo73kcdsjvjaci3cdew...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,543280990914,SppDiscount,2023-05-01,2023-06-01,2023-05-18 01:00:00,2023-05-18 02:00:00,0.0,AWSLambda,NaN,Lambda-Provisioned-GB-Second,Init,NaN,NaN,NaN,USD,-2.312100e-06,0.0,0.0

In [3]:
df_accounts_per_org = catalog.load('processed_accounts_per_organization')
df_accounts_per_org

[07/06/23 21:50:58] INFO     Loading data from 'processed_accounts_per_organization'            ]8;id=684332;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=174320;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py#345\345]8;;\
                             (CSVDataSet)...

      account_id                                    name
0   705000000000                    FinOps Processamento
1   594000000000  SES - Secretaria da Saude - Assessment
2   895000000000               Intelbras - Container PoC
3   665000000000                      Disc Day - Estacio
4   609000000000                      ALESP - Assessment
..           ...                                     ...
63  564000000000                                   Shift
64  400000000000                                  TRN GB
65  913000000000                                 GB TRN2
66  623000000000              intelbras-teste-networking
67  550000000000                  intelbras-teste-spoke1

[68 rows x 2 columns]

In [9]:
import logging

logger = logging.getLogger()

In [10]:
import pandas as pd

In [11]:
def add_account_names(df_cur: pd.DataFrame, df_accounts_per_org: pd.DataFrame) -> pd.DataFrame:

    logger.info('Adding account names...')
    df_cur = df_cur.merge(df_accounts_per_org, how='left', left_on='bill_payer_account_id', right_on='account_id', suffixes=('', '_payer'), validate='many_to_one')
    df_cur = df_cur.rename(columns={'name': 'payer_account_name'})
    df_cur = df_cur.merge(df_accounts_per_org, how='left', left_on='line_item_usage_account_id', right_on='account_id', suffixes=('', '_usage'), validate='many_to_one')
    df_cur = df_cur.rename(columns={'name': 'usage_account_name'})

    return df_cur

df_cur_enriched = add_account_names(df_cur, df_accounts_per_org)
df_cur_enriched

,identity_line_item_id,bill_invoice_id,bill_billing_entity,bill_invoicing_entity,line_item_legal_entity,bill_payer_account_id,line_item_usage_account_id,line_item_line_item_type,bill_billing_period_start_date,bill_billing_period_end_date,...,line_item_operation,product_from_location_type,product_from_region_code,line_item_tax_type,line_item_currency_code,line_item_unblended_cost,account_id,payer_account_name,account_id_usage,usage_account_name
0,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,...,Hourly,NaN,NaN,NaN,USD,3.000000e-02,NaN,NaN,NaN,NaN
1,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,...,Hourly,NaN,NaN,NaN,USD,3.000000e-02,NaN,NaN,NaN,NaN
2,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,...,Hourly,NaN,NaN,NaN,USD,3.000000e-02,NaN,NaN,NaN,NaN
3,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,...,Hourly,NaN,NaN,NaN,USD,3.000000e-02,NaN,NaN,NaN,NaN
4,xcjvdeganjbzg4vdht3lnj77dmvvvs4hmipmmjrpowbmsl...,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",Cloud Infrastructure Services Ltd,981064078967,273762107511,Usage,2023-05-01,2023-06-01,...,Hourly,NaN,NaN,NaN,USD,3.000000e-02,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3835113,gbp2uwf4otex4r3i6x2xaqmecr4zo73kcdsjvjaci3cdew...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,543280990914,SppDiscount,2023-05-01,2023-06-01,...,Init,NaN,NaN,NaN,USD,-1.354400e-06,NaN,NaN,NaN,NaN
3835114,7lfdzbjdj5foh27w3ht5rgu32dkugujmsx6krg22hqyn5c...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,637926748998,SppDiscount,2023-05-01,2023-06-01,...,Init,NaN,NaN,NaN,USD,-1.354900e-06,NaN,NaN,NaN,NaN
3835115,gbp2uwf4otex4r3i6x2xaqmecr4zo73kcdsjvjaci3cdew...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,543280990914,SppDiscount,2023-05-01,2023-06-01,...,Init,NaN,NaN,NaN,USD,-2.609900e-06,NaN,NaN,NaN,NaN
3835116,7lfdzbjdj5foh27w3ht5rgu32dkugujmsx6krg22hqyn5c...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,637926748998,SppDiscount,2023-05-01,2023-06-01,...,Init,NaN,NaN,NaN,USD,-6.487000e-07,NaN,NaN,NaN,NaN
3835117,gbp2uwf4otex4r3i6x2xaqmecr4zo73kcdsjvjaci3cdew...,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,NaN,981064078967,543280990914,SppDiscount,2023-05-01,2023-06-01,...,Init,NaN,NaN,NaN,USD,-2.312100e-06,NaN,NaN,NaN,NaN

In [4]:
df_cur_merged = df_cur_enriched.groupby(by=['bill_invoice_id', 'bill_billing_entity', 'bill_invoicing_entity', 
                                          'bill_payer_account_id', 'line_item_usage_account_id',
                                          'line_item_line_item_type', 'line_item_usage_start_date', 
                                          'line_item_usage_end_date', 'product_product_name', 'line_item_currency_code'])['line_item_unblended_cost'].sum()

df_cur_merged

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ in <module>:1                                                                                    │
│                                                                                                  │
│ ❱ 1 df_cur_merged = df_cur_enriched.groupby(by=['bill_invoice_id', 'bill_billing_entity', 'b     │
│   2 │   │   │   │   │   │   │   │   │   │     'bill_payer_account_id', 'line_item_usage_acco     │
│   3 │   │   │   │   │   │   │   │   │   │     'line_item_line_item_type', 'line_item_usage_s     │
│   4 │   │   │   │   │   │   │   │   │   │     'line_item_usage_end_date', 'product_product_n     │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
NameError: name 'df_cur_enriched' is not defined

# Generating Accounts Per Org file

In [28]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
df = pd.read_csv('../data/01_raw/infra2_invoice.csv', dtype={'PayerAccountId': str, 'LinkedAccountId': str})
df.head(5)

,InvoiceID,PayerAccountId,payer_account_id,linked_account_id,LinkedAccountId,RecordType,RecordID,BillingPeriodStartDate,BillingPeriodEndDate,InvoiceDate,PayerAccountName,LinkedAccountName,TaxationAddress,PayerPONumber,ProductCode,ProductName,SellerOfRecord,UsageType,Operation,RateId,ItemDescription,UsageStartDate,UsageEndDate,UsageQuantity,BlendedRate,CurrencyCode,CostBeforeTax,Credits,TaxAmount,TaxType,TotalCost,981064078967
0,1.349042e+09,981064078967,981064078967,0,NaN,PayerLineItem,-1,5/1/2023 0:00,5/31/2023 23:59,6/2/2023 16:47,dataRain Payeer 2,NaN,NaN,NaN,3ihdqli79gl9v2jnlzs6nq60h,OpenVPN Access Server (5 Connected Devices),"OpenVPN Technologies, Inc.",SoftwareUsage:t3a.small,Hourly,1.719807e+10,AWS Marketplace hourly software usage|us-east-...,5/1/2023 0:00,5/31/2023 23:59,1488.0,NaN,USD,142.84,0.0,0.0,NaN,142.84,NaN
1,1.349042e+09,981064078967,981064078967,0,NaN,PayerLineItem,6.8E+18,5/1/2023 0:00,5/31/2023 23:59,6/2/2023 16:47,dataRain Payeer 2,NaN,NaN,NaN,eryhlhzpi9qp90nh5u371dw9z,Oracle Linux 8 with Support by Supported Images,Supported Images,SAE1-SoftwareUsage:t2.medium,Hourly,1.918718e+10,AWS Marketplace hourly software usage|sa-east-...,5/1/2023 0:00,5/31/2023 23:59,739.0,NaN,USD,73.90,0.0,0.0,NaN,73.90,NaN
2,1.349042e+09,981064078967,981064078967,0,NaN,PayerLineItem,6.8E+18,5/1/2023 0:00,5/31/2023 23:59,6/2/2023 16:47,dataRain Payeer 2,NaN,NaN,NaN,eryhlhzpi9qp90nh5u371dw9z,Oracle Linux 8 with Support by Supported Images,Supported Images,SAE1-SoftwareUsage:t3.xlarge,Hourly,1.918717e+10,AWS Marketplace hourly software usage|sa-east-...,5/1/2023 0:00,5/31/2023 23:59,10.0,NaN,USD,2.00,0.0,0.0,NaN,2.00,NaN
3,1.349042e+09,981064078967,981064078967,0,NaN,PayerLineItem,6.8E+18,5/1/2023 0:00,5/31/2023 23:59,6/2/2023 16:47,dataRain Payeer 2,NaN,NaN,NaN,eryhlhzpi9qp90nh5u371dw9z,Oracle Linux 8 with Support by Supported Images,Supported Images,SAE1-SoftwareUsage:c5.large,Hourly,1.918717e+10,AWS Marketplace hourly software usage|sa-east-...,5/1/2023 0:00,5/31/2023 23:59,6.0,NaN,USD,0.60,0.0,0.0,NaN,0.60,NaN
4,1.349042e+09,981064078967,981064078967,0,NaN,PayerLineItem,6.8E+18,5/1/2023 0:00,5/31/2023 23:59,6/2/2023 16:47,dataRain Payeer 2,NaN,NaN,NaN,625odl4lkfwv8zdsyfqsib0wy,Oracle Linux 7 with Support by Supported Images,Supported Images,SAE1-SoftwareUsage:t3.xlarge,Hourly,1.903625e+10,AWS Marketplace hourly software usage|sa-east-...,5/1/2023 0:00,5/31/2023 23:59,733.0,NaN,USD,146.60,0.0,0.0,NaN,146.60,NaN

In [37]:
df_payer = df[['payer_account_id', 'PayerAccountName']].copy()
df_payer = df_payer.drop_duplicates()
df_payer = df_payer.rename(columns={'payer_account_id': 'Account ID', 'PayerAccountName': 'Name'})
df_payer

     Account ID               Name
0  981064078967  dataRain Payeer 2

In [38]:
df_linked = df[['linked_account_id', 'LinkedAccountName']].copy()
df_linked = df_linked.drop_duplicates().dropna()
df_linked = df_linked.rename(columns={'linked_account_id': 'Account ID', 'LinkedAccountName': 'Name'})
df_linked

        Account ID                                     Name
11     65716851408      SPI - SP Intervention - ENE Medical
12    167002523613                    SPI - SP Intervention
18    273762107511                                 Cordvida
19    465517541486                                Bipp Care
20    563324065975                               Symbiomics
21    901519325564                          Estre Ambiental
1172   72038246234                                     SMIT
1474   95507049355                                     IHSL
1532  113082347426                          Estre - Conta 2
1673  215028743710                          Hospital Sabara
1684  244835640994                            GTM Chemicals
1803  350427820123                                   Oliv-e
1822  368505959464  [DEV] OTIMO SOCIEDADE DE CREDITO DIRETO
2095  415870527538                      Hospital Santa Cruz
2178  420065387364                                   pakman
2454  435585749363                                      EOS
2497  446999942749                           Ceramica Atlas
2602  468681385603                  Treinamento VentureLabs
2605  494939165758                             [PRD] Helpie
2965  511871492403                          [PRD] Diligente
3063  543280990914  [PRD] OTIMO SOCIEDADE DE CREDITO DIRETO
3357  562293755332                                 Cotrijal
3593  591891948593                     Producao VentureLabs
3595  623041266269                             PrimeDoctors
3637  637926748998                             [DEV] Helpie
3809  684481376085                                   Taksim
3951  702894359990                             PUC-Campinas
4022  752368805386                            [PRD] BluePay
4055  802316276539                            libelulanegra
4250  940848700982                                  HCFMUSP
4309  946577008532                                    JR_GX
4310  981064078967                        dataRain Payeer 2
4327  988350742118                                     IHSL

In [17]:
df_accounts_per_org = pd.concat([df_payer, df_linked]).drop_duplicates()
df_accounts_per_org

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ in <module>:1                                                                                    │
│                                                                                                  │
│ ❱ 1 df_accounts_per_org = pd.concat([df_payer, df_linked]).drop_duplicates()                     │
│   2 df_accounts_per_org                                                                          │
│   3                                                                                              │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
NameError: name 'df_payer' is not defined

In [42]:
df_accounts_per_org.to_csv('../data/01_raw/accounts_per_organization.csv', index=False)

## Aggregated Infra2 Invoices

In [1]:
catalog.list()

['s3_pocs_cur_dataset',
 's3_intelbras_cur_dataset',
 's3_infra2_cur_dataset',
 'accounts_per_organization',
 'pocs_cur_dataset',
 'intelbras_cur_dataset',
 'infra2_cur_dataset',
 'processed_accounts_per_organization',
 'pocs_cur_dataset_merged',
 'intelbras_cur_dataset_merged',
 'infra2_cur_dataset_merged',
 'infra2_cur_dataset_agg',
 'parameters',
 'params:data_prep_raw_params',
 'params:data_prep_raw_params.kept_columns']

In [18]:
df_infra2_agg = catalog.load('infra2_cur_dataset_agg')
df_infra2_agg

[07/12/23 17:58:14] INFO     Loading data from 'infra2_cur_dataset_agg' (CSVDataSet)...         ]8;id=616255;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=429040;file:///home/ubuntu/datarain-aws-cur-finops/venv_kedro/lib/python3.10/site-packages/kedro/io/data_catalog.py#345\345]8;;\

,bill_invoice_id,bill_billing_entity,bill_invoicing_entity,bill_payer_account_id,payer_account_name,line_item_usage_account_id,usage_account_name,line_item_line_item_type,line_item_usage_start_date,line_item_usage_end_date,product_product_name,line_item_currency_code,line_item_unblended_cost,discount_spp_discount,discount_total_discount
0,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,065716851408,SPI - SP Intervention - ENE Medical,Tax,2023-05-01 00:00:00,2023-06-01 00:00:00,AWS Config,USD,0.14,0.0,0.0
1,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,065716851408,SPI - SP Intervention - ENE Medical,Tax,2023-05-01 00:00:00,2023-06-01 00:00:00,AWS Data Transfer,USD,0.26,0.0,0.0
2,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,065716851408,SPI - SP Intervention - ENE Medical,Tax,2023-05-01 00:00:00,2023-06-01 00:00:00,AWS Key Management Service,USD,0.00,0.0,0.0
3,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,065716851408,SPI - SP Intervention - ENE Medical,Tax,2023-05-01 00:00:00,2023-06-01 00:00:00,Amazon Elastic Compute Cloud,USD,101.64,0.0,0.0
4,1343605689,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,065716851408,SPI - SP Intervention - ENE Medical,Tax,2023-05-01 00:00:00,2023-06-01 00:00:00,Amazon Simple Notification Service,USD,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183519,1349042489,AWS Marketplace,"Amazon Web Services, Inc.",981064078967,dataRain Payeer 2,901519325564,Estre Ambiental,Usage,2023-05-31 23:00:00,2023-06-01 00:00:00,ZoneMinder: Build Your Own Security Camera So...,USD,0.03,0.0,0.0
183520,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,072038246234,SMIT,Refund,2023-05-01,2023-06-01,AWS Support (Business),USD,-57.61,0.0,0.0
183521,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,072038246234,SMIT,Tax,2023-05-01,2023-06-01,AWS Support (Business),USD,-7.97,0.0,0.0
183522,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,562293755332,Cotrijal,Refund,2023-05-01,2023-06-01,AWS Support (Business),USD,-7.00,0.0,0.0
183523,1366015353,AWS,Amazon AWS Serviços Brasil Ltda.,981064078967,dataRain Payeer 2,562293755332,Cotrijal,Tax,2023-05-01,2023-06-01,AWS Support (Business),USD,-0.96,0.0,0.0

In [13]:
'065716851408' in df_infra2_agg['line_item_usage_account_id'].unique()

False

In [15]:
'072038246234' in df_infra2_agg['line_item_usage_account_id'].unique()

False

In [19]:
df_infra2_agg['bill_billing_entity'].unique()

array(['AWS', 'AWS Marketplace'], dtype=object)

In [20]:
df_infra2_agg['bill_invoice_id'].unique()

array([1343605689, 1349042489, 1366015353])

In [21]:
df_infra2_agg['line_item_line_item_type'].unique()

array(['Tax', 'Usage', 'Credit', 'Fee', 'Refund'], dtype=object)

In [30]:
df_consume = df_infra2_agg[df_infra2_agg['bill_invoice_id']==1343605689]
df_consume_usage = df_consume[df_consume['line_item_line_item_type']=='Usage']
print(f"Consume charges total: {df_consume_usage['line_item_unblended_cost'].sum()}")

Consume charges total: 32841.2004781926

In [29]:
df_consume = df_infra2_agg[df_infra2_agg['bill_invoice_id']==1343605689]
df_consume_tax = df_consume[df_consume['line_item_line_item_type']=='Tax']
print(f"Consume tax total: {df_consume_tax['line_item_unblended_cost'].sum()}")

Consume tax total: 3610.5000000000005

In [28]:
spp_discount = df_infra2_agg[df_infra2_agg['bill_invoice_id']==1343605689]['discount_spp_discount'].sum()
print(f'SPP Discount: {spp_discount}')

SPP Discount: -4007.668503886399

In [33]:
df_consume = df_infra2_agg[df_infra2_agg['bill_invoice_id']==1343605689]
credits = df_consume[df_consume['line_item_line_item_type']=='Credit']['line_item_unblended_cost'].sum()
print(f'Consume discount total: {credits}')

Consume discount total: -2843.3143923311

In [9]:
import pandas as pd
pd.set_option('display.max_rows', 100)
df_consume.groupby(by=['usage_account_name', 'product_product_name'])['line_item_unblended_cost'].sum().reset_index()

,usage_account_name,product_product_name,line_item_unblended_cost
0,Bipp Care,AWS Data Transfer,0.340000
1,Bipp Care,AWS Key Management Service,0.000216
2,Bipp Care,AWS Lambda,0.304560
3,Bipp Care,AWS WAF,23.487219
4,Bipp Care,Amazon DocumentDB (with MongoDB compatibility),0.002599
...,...,...,...
333,pakman,Amazon Simple Storage Service,31.906120
334,pakman,Amazon Textract,0.145000
335,pakman,Amazon Virtual Private Cloud,83.565779
336,pakman,AmazonCloudWatch,126.369296
337,pakman,Elastic Load Balancing,37.670411

In [24]:
df_infra2_agg.groupby(by=['bill_invoice_id', 'line_item_usage_account_id', 'usage_account_name', 'line_item_line_item_type']).agg(
    {'line_item_unblended_cost': 'sum', 'discount_spp_discount': 'sum'})

                                                                                                             line_item_unblended_cost  \
bill_invoice_id line_item_usage_account_id usage_account_name                      line_item_line_item_type
1343605689      065716851408               SPI - SP Intervention - ENE Medical     Tax                                     106.610000
                                                                                   Usage                                   866.206276
                072038246234               SMIT                                    Tax                                    1126.850000
                                                                                   Usage                                  9052.836375
                095507049355               IHSL                                    Tax                                     106.600000
                                                                                   Usage                                   865.950291
                113082347426               Estre - Conta 2                         Tax                                      17.350000
                                                                                   Usage                                   140.522065
                167002523613               SPI - SP Intervention                   Tax                                     633.980000
                                                                                   Usage                                  5457.117687
                215028743710               Hospital Sabara                         Tax                                       0.010000
                                                                                   Usage                                     0.071642
                244835640994               GTM Chemicals                           Tax                                       0.000000
                                                                                   Usage                                     0.002103
                273762107511               Cordvida                                Tax                                     141.780000
                                                                                   Usage                                  1220.446747
                350427820123               Oliv-e                                  Tax                                       1.380000
                                                                                   Usage                                    10.215014
                368505959464               [DEV] OTIMO SOCIEDADE DE CREDITO DIRETO Tax                                     117.350000
                                                                                   Usage                                   953.468511
                415870527538               Hospital Santa Cruz                     Tax                                      43.120000
                                                                                   Usage                                   350.234932
                420065387364               pakman                                  Credit                                 -429.420000
                                                                                   Tax                                     127.090000
                                                                                   Usage                                  1514.789073
                435585749363               EOS                                     Tax                                     136.180000
                                                                                   Usage                                  1172.170658
                446999942749               Ceramica Atlas                          Tax                                       0.470000
                                                                                   Usage                                     4.075594
                465517541486               Bipp Care                               Tax                                      92.030000
                                                                                   Usage                                   792.436957
                468681385603               Treinamento VentureLabs                 Tax                                       0.000000
                                                                                   Usage                                     0.000471
                494939165758               [PRD] Helpie                            Tax                                     153.650000
                                                                                   Usage                                  1248.211662
                511871492403               [PRD] Diligente                         Credit                                  -35.240754
                                                                                   Tax                                       0.000000
                                                                                   Usage                                    41.953246
                543280990914               [PRD] OTIMO SOCIEDADE DE CREDITO DIRETO Credit                                -1971.132183
                                                                                   Tax                                       0.000000
                                                                                   Usage                                  2214.755165
                562293755332               Cotrijal                                Fee                                     100.000000
                                                                                   Tax                                      94.550000
                                                                                   Usage                                   655.696210
                563324065975               Symbiomics                              Credit                                 -407.521455
                                                                                   Tax                                       0.000000
                                                                                   Usage                                   457.889204
                591891948593               Producao VentureLabs                    Tax                                       0.010000
                                                                                   Usage                                     0.103357
                623041266269               PrimeDoctors                            Tax                                       3.320000
                                                                                   Usage                                    28.628848
                637926748998               [DEV] Helpie                            Tax                                      27.430000
                                                                                   Usage                                   236.211353
                684481376085               Taksim                                  Fee                                      13.000000
                                                                                   Tax                                      99.880000
                                                                                   Usage                                   841.203945
                702894359990               PUC-Campinas                            Tax                                      53.000000
                                                                                   Usage                                   430.704062
                752368805386               [PRD] BluePay                           Tax                                       0.550000
                                                                                   Usage                                     4.514101
                802316276539               libelulanegra                           Tax                                       0.280000
                                                                                   Usage                                     2.274573
                901519325564               Estre Ambiental                         Tax                                     475.980000
                                                                                   Usage                                  3866.651120
                940848700982               HCFMUSP                                 Tax                                      19.840000
                                                                                   Usage                                   161.273173
                946577008532               JR_GX                                   Tax                                       0.710000
                                                                                   Usage                                     5.700000
                981064078967               dataRain Payeer 2                       Tax                                       9.070000
                                                                                   Usage                                    70.642932
                988350742118               IHSL                                    Tax                                      21.430000
                                                                                   Usage                                   174.243132
1349042489      065716851408               SPI - SP Intervention - ENE Medical     Usage                                    73.900000
                167002523613               SPI - SP Intervention                   Usage                                   358.410000
                273762107511               Cordvida                                Usage                                    22.260000
                465517541486               Bipp Care                               Usage                                    71.424000
                563324065975               Symbiomics                              Usage                                    71.424000
                901519325564               Estre Ambiental                         Usage                                     4.614000
1366015353      072038246234               SMIT                                    Refund                                  -57.610000
                                                                                   Tax                                      -7.970000
                562293755332               Cotrijal                                Refund                                   -7.000000
                                                                                   Tax                                      -0.960000

                                                                                                             discount_spp_discount
bill_invoice_id line_item_usage_account_id usage_account_name                      line_item_line_item_type
1343605689      065716851408               SPI - SP Intervention - ENE Medical     Tax                                    0.000000
                                                                                   Usage                                -95.282690
                072038246234               SMIT                                    Tax                                    0.000000
                                                                                   Usage                               -905.283630
                095507049355               IHSL                                    Tax                                    0.000000
                                                                                   Usage                                -95.254532
                113082347426               Estre - Conta 2                         Tax                                    0.000000
                                                                                   Usage                                -15.080092
                167002523613               SPI - SP Intervention                   Tax                                    0.000000
                                                                                   Usage                               -873.138830
                215028743710               Hospital Sabara                         Tax                                    0.000000
                                                                                   Usage                                 -0.007881
                244835640994               GTM Chemicals                           Tax                                    0.000000
                                                                                   Usage                                 -0.000337
                273762107511               Cordvida                                Tax                                    0.000000
                                                                                   Usage                               -195.239008
                350427820123               Oliv-e                                  Tax                                    0.000000
                                                                                   Usage                                 -0.306450
                368505959464               [DEV] OTIMO SOCIEDADE DE CREDITO DIRETO Tax                                    0.000000
                                                                                   Usage                               -104.881536
                415870527538               Hospital Santa Cruz                     Tax                                    0.000000
                                                                                   Usage                                -38.525843
                420065387364               pakman                                  Credit                                 0.000000
                                                                                   Tax                                    0.000000
                                                                                   Usage                               -166.626798
                435585749363               EOS                                     Tax                                    0.000000
                                                                                   Usage                               -187.547305
                446999942749               Ceramica Atlas                          Tax                                    0.000000
                                                                                   Usage                                 -0.652095
                465517541486               Bipp Care                               Tax                                    0.000000
                                                                                   Usage                               -126.789913
                468681385603               Treinamento VentureLabs                 Tax                                    0.000000
                                                                                   Usage                                 -0.000075
                494939165758               [PRD] Helpie                            Tax                                    0.000000
                                                                                   Usage                               -137.303283
                511871492403               [PRD] Diligente                         Credit                                 0.000000
                                                                                   Tax                                    0.000000
                                                                                   Usage                                 -6.712519
                543280990914               [PRD] OTIMO SOCIEDADE DE CREDITO DIRETO Credit                                 0.000000
                                                                                   Tax                                    0.000000
                                                                                   Usage                               -243.623068
                562293755332               Cotrijal                                Fee                                    0.000000
                                                                                   Tax                                    0.000000
                                                                                   Usage                                -72.126583
                563324065975               Symbiomics                              Credit                                 0.000000
                                                                                   Tax                                    0.000000
                                                                                   Usage                                -50.367812
                591891948593               Producao VentureLabs                    Tax                                    0.000000
                                                                                   Usage                                 -0.016537
                623041266269               PrimeDoctors                            Tax                                    0.000000
                                                                                   Usage                                 -4.580616
                637926748998               [DEV] Helpie                            Tax                                    0.000000
                                                                                   Usage                                -37.793816
                684481376085               Taksim                                  Fee                                    0.000000
                                                                                   Tax                                    0.000000
                                                                                   Usage                               -134.592631
                702894359990               PUC-Campinas                            Tax                                    0.000000
                                                                                   Usage                                -47.377447
                752368805386               [PRD] BluePay                           Tax                                    0.000000
                                                                                   Usage                                 -0.496551
                802316276539               libelulanegra                           Tax                                    0.000000
                                                                                   Usage                                 -0.250203
                901519325564               Estre Ambiental                         Tax                                    0.000000
                                                                                   Usage                               -425.331623
                940848700982               HCFMUSP                                 Tax                                    0.000000

In [15]:
df_consume_usage[df_consume_usage['line_item_unblended_cost']<0]

Empty DataFrame
Columns: [bill_invoice_id, bill_billing_entity, bill_invoicing_entity, bill_payer_account_id, payer_account_name, line_item_usage_account_id, usage_account_name, line_item_line_item_type, line_item_usage_start_date, line_item_usage_end_date, product_product_name, line_item_currency_code, line_item_unblended_cost]
Index: []

In [12]:
22056.207535710793 + 4007.41

26063.617535710793

In [6]:
df_consume[]['line_item_unblended_cost'].sum()

21596.333143379696

In [22]:
df_consume_credits = df_consume[df_consume['line_item_line_item_type']=='Credit']
print(f"Consume usage total: {df_consume_credits['line_item_unblended_cost'].sum()}")

Consume usage total: -2843.3143923311

In [19]:
df_consume_credits

Empty DataFrame
Columns: [bill_invoice_id, bill_billing_entity, bill_invoicing_entity, bill_payer_account_id, payer_account_name, line_item_usage_account_id, usage_account_name, line_item_line_item_type, line_item_usage_start_date, line_item_usage_end_date, product_product_name, line_item_currency_code, line_item_unblended_cost]
Index: []

In [31]:
df_consume = df_infra2_agg[df_infra2_agg['bill_invoice_id']==1343605689]
df_consume_total = df_consume[df_consume['line_item_line_item_type'].isin(['Tax', 'Usage', 'Fee'])]
print(f"Consume usage total: {df_consume_total['line_item_unblended_cost'].sum()}")

Consume usage total: 24439.647535710796